{% extends "layouts/layout.twig" %}


{% block title %}
    Шаблоны документов по охране труда.
{% endblock %}

{% block description %}
    Данный сервис содержит шаблоны инструкций, приказов, положений, программ, журналов и прочих документов по охране труда и смежных с ней направлений, таких как пожарная и промышленная безопасность.
{% endblock %}
{% block content %}
    <main id="front-page" class="site-main mt-5">
        <div class="container pb-3 mb-12">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 mt-5">
                    <h1>Шаблоны документов по охране труда</h1>
                    <p class=" mt-3">
                       Для помощи в работе специалистам и руководителям собрана коллекцию шаблонов документов по охране труда, пожарной и промышленной безопасности и другим направлениям. Все приведенные документы соответствуют требованиям НПА и действующего законодательства. Для поиска необходимого документа воспользуйтесь формой расположенной ниже.
                    </p>
                    <p>Всего:{{ count }} шаблонов документов.</p>
                    <p>
                        <b>Выберите шаблон документа для поиска:</b>
                    </p>

              <div class="d-flex searched-input mb-3">
                  <div class="input-group">
                      <button class="btn btn-outline-secondary dropdown-toggle" id="searched" type="button" data-bs-toggle="dropdown" data-template="0" aria-expanded="false">Выберите шаблон</button>
                      <ul class="dropdown-menu">
                          {% for template in templates %}
                            <li><a class="dropdown-item templateList" href="#" data-template="{{ template.id }}">{{ template.name }}</a></li>
                          {% endfor %}
                      </ul>
                      <input type="text" class="form-control" id="s" placeholder="Введите наименование..." aria-label="Введите наименование..." aria-describedby="button-addon2">
                      <button class="btn btn-outline-secondary"  type="button" id="search">Поиск</button>
                  </div>
                  </div>
                    <small class="text-muted">Поиск осуществляется по названию документа. Для более точных результатов поиска, не используйте слова инструкция, приказ, положение и т.д.</small>
              </div>
               <div class="search-result my-5">

               </div>
                <h2>Последние добавленные документы</h2>
                <div class="d-flex flex-wrap">
                {% for document in lasts %}
                    <div class="card document-card m-3">
                        <div class="card-body">
                            <div class="card-title">
                                <small><a href="/document/{{ document.template_id }}/{{ document.id }}">{{ document.title }}</a></small>
                            </div>
                        </div>
                        <div class="card-footer document-footer d-flex justify-content-between">
                            <span><i class="fa-regular fa-calendar-days"></i> {{ document.date | date("d.m.Y") }}</span>
                            <span>Размер:  {{ document.size }}</span>
                            <span><i class="fa-solid fa-download"></i> {{ document.count }}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}